# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.i
*.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CSharp

# Java
*.class

# Qt-es
*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*build-*
*.Debug
*.Release
Makefile

# VS-es
.vs
x64
Debug
Release

# Source Insight4-es
*.si4project